# Общие для всех сервисов
bin/
obj/
*.user
*.suo
*.log
.vs/
.idea/

# Rider
.idea/
.Migrations/

# NuGet
*.nupkg
packages/

# Для C#
*.dll
*.exe
*.pdb
*.env

# Конфигурации, локальные файлы
appsettings.Local.json
